.appartement__card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 340px;
  border-radius: 10px;
  overflow: hidden;
}

.appartement__card:hover {
  scale: 1.05;
}

.appartement__card img {
  object-fit: cover;
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
}

.appartement__subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: linear-gradient(to top, #8a3737, #ff6060);
  height: 60px;
  line-height: 142.6%;
  padding: 10px 20px 20px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
}

.link__style {
  text-decoration: none;
}

@media screen and (width <= 1440px) {
  .appartement__card {
    max-width: none;
  }
}

@media screen and (width <= 768px) {
  .appartement__card img {
    height: 190px;
  }
  .appartement__subtitle {
    height: 35px;
  }
  .appartement__card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    max-width: none;
  }
}
