.appartement__card {
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
}

.appartement__card img {
  object-fit: cover;
  width: 100%;
}

.appartement__subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: linear-gradient(to top, #8a3737, #ff6060);
  height: 70px;
  padding-left: 5%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0 0 20px 20px;
}

.link__style {
  text-decoration: none;
}
