.banner {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  height: 223px;
  margin-top: 68px;
}

.bannerImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.content h3 {
  font-size: 48px;
  font-weight: 500;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.30000001192092896;
  background: #000;
  mix-blend-mode: darken;
}

.about__banner {
  margin-top: 44px;
  margin-bottom: 31px;
}

@media screen and (max-width: 768px) {
  .banner {
    min-width: 310px;
    height: 125px;
    border-radius: 10px;
    margin-top: 17px;
  }

  .content h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    padding: 31px 102px 32px 16px;
  }

  .about__banner {
    height: 223px;
  }
}
