.image__banner {
  position: relative;
}

.image__banner.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image__banner.single-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image__banner.single-image .carrousel__navigation {
  display: none;
}

.slider {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 3%;
}

.slide {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  height: 415px;
}

.slide__indicator {
  position: absolute;
  color: white;
  font-size: 18px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carrousel__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  z-index: 1;
}

.carrousel__prev,
.carrousel__next {
  color: white;
  cursor: pointer;
  font-size: 79px;
}

.carrousel__prev {
  margin-left: 16px;
}

.carrousel__next {
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .slide__indicator {
    display: none;
  }
}
