.image__banner {
  position: relative;
  margin-top: 20px;
  height: 415px;
  width: 100%;
  margin-bottom: 30px;
}

.image__banner.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image__banner.single-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image__banner.single-image .carrousel__navigation {
  display: none;
}

.slider {
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 3%;
}

.slide {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  height: 415px;
}

.slide__indicator {
  position: absolute;
  color: white;
  font-size: 18px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 24.92px;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carrousel__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  height: 119.63px;
  z-index: 1;
}

.carrousel__prev img,
.carrousel__next img {
  cursor: pointer;
}

.carrousel__prev {
  margin: 8.4px 25.96px 32.04px 23.36px;
}

.carrousel__next {
  margin: 8.4px 25.96px 32.04px 23.36px;
}

@media screen and (max-width: 768px) {
  .slide__indicator {
    display: none;
  }

  .image__banner {
    height: 255px;
    margin-bottom: 15px;
  }

  .slider {
    height: 100%;
  }

  .carrousel__prev img,
  .carrousel__next img {
    width: 24px;
    height: 24px;
  }

  .carrousel__prev {
    margin: 8.4px 25.96px 32.04px 0;
  }

  .carrousel__next {
    margin: 8.4px 0 32.04px 23.36px;
  }
}
