.collapse__appartement__description {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

.appartement__description {
  width: 582px;
}

.description__header {
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background-color: #ff6060;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  padding: 13px 9px 13px 20px;
  margin: 0;
}

.description__header .fa-solid.fa-chevron-up {
  font-size: 32px;
  transition: transform 1s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description__header .fa-solid.fa-chevron-up.rotate {
  transform: rotate(180deg);
}

.description__content {
  background-color: #f6f6f6;
  overflow: hidden;
  color: #ff6060;
  transition: max-height 1s ease, opacity 0s ease, padding 1s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  padding: 40px 12px 53px 20px;
  margin-top: -10px;
  opacity: 1;
  line-height: 142.6%;
}

.description__content.hide {
  max-height: 0;
  padding: 0;
  opacity: 0;
}

.about__collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__collapse .appartement__description {
  min-width: 1024px;
  margin-bottom: 31px;
}

@media screen and (min-width: 1441px) {
  .appartement__description {
    width: 50%;
  }
  .about__collapse .appartement__description {
    width: 80%;
  }
}

@media screen and (width <= 1225px) {
  .about__collapse .appartement__description {
    min-width: 100%;
  }
}

@media screen and (width <= 768px) {
  .description__header {
    font-size: 13px;
    height: 20px;
    padding: 5.5px 5.58px 5.46px 11.51px;
  }

  .description__header .fa-solid.fa-chevron-up {
    font-size: 18px;
  }

  .description__content {
    font-size: 12px;
    padding: 23.02px 6.91px 50px 11.51px;
    margin-top: -5.75px;
    margin-bottom: 0;
  }

  .appartement__description {
    width: 100%;
  }

  .collapse__appartement__description {
    gap: 20px;
    margin-top: 16px;
  }

  .about__collapse .appartement__description {
    width: auto;
    margin-bottom: 20px;
  }
}
