.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__logo img {
  width: 192px;
  height: 82px;
}

@media screen and (width <= 1074px) {
  .footer {
    font-size: 12px;
  }

  .footer__logo img {
    width: 96px;
    height: 41px;
  }
}
