.navbar {
  display: flex;
  align-items: center;
  margin-inline: 15.555%;
  margin-bottom: 5%;
  margin-top: 3%;
}

.navbar__logo img {
  margin: 0;
  padding: 0;
}

.navbar__link :nth-child(2) {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
}

.navbar a.active {
  text-decoration: underline;
}

.navbar a:hover {
  font-weight: bold;
}

.navbar > *:first-child {
  margin-right: auto;
}

@media screen and (width <= 768px) {
  .navbar {
    margin-inline: 8.138%;
  }

  .navbar a {
    text-transform: uppercase;
    font-size: 12px;
  }

  .navbar__logo img {
    width: 50%;
  }

  .navbar__link {
    width: 180px;
    text-align: end;
  }
}
