.error__page {
  color: #ff6060;
  text-align: center;
}

.error__page h1 {
  font-size: 288px;
  font-weight: 700;
  margin: 0;
}

.error__page h2 {
  font-size: 36px;
}

.error__page a {
  color: #ff6060;
  font-size: 18px;
  text-decoration: none;
}

.error__page a:hover {
  text-decoration: underline;
}
