.appartement__owner__stars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  font-size: 25px;
}

.appartement__owner__stars i.fa-solid.fa-star {
  color: #e3e3e3;
  margin-top: 21px;
}

.appartement__owner__stars .on i.fa-solid.fa-star {
  color: #ff6060;
}

@media screen and (width <= 768px) {
  .appartement__owner__stars {
    height: 32px;
    width: 98px;
    font-size: 13px;
  }

  .appartement__owner__stars i.fa-solid.fa-star {
    height: 100%;
    margin-top: 0;
  }
}
