.about__banner {
  height: 200px;
  max-width: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/BannerAbout.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border-radius: 30px;
  display: grid;
  place-items: center;
  color: white;
  font-size: 25px;
  margin-bottom: 5%;
}
