.appartement__card {
  border-radius: 30px;
  flex-basis: 30%;
  display: grid;
  align-items: flex-end;
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  position: relative;
}

.appartement__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgb(149, 157, 165 / 20%) 0px 8px 24px;
  filter: brightness(0.8);
}

.appartement__subtitle {
  width: auto;
  margin-inline-start: 5%;
  margin-block-end: 5%;
  color: white;
  position: absolute;
}

@media screen and (width <= 768px) {
  .appartement__card img {
    flex-basis: 100%;
  }
}
