.AppartGrid {
  background-color: rgb(236, 236, 236);
  min-height: 50vh;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: space-between;
}

.AppartGrid * {
  flex-basis: 30%;
  max-width: 20rem;
}

@media screen and (max-width: 768px) {
  .AppartGrid {
    background-color: white;
    padding: 0;
    flex-direction: column;
  }
}
