.appartement {
  background-image: linear-gradient(to top, #8a3737, #ff6060);
  border-radius: 30px;
  flex-basis: 30%;
  display: grid;
  align-items: end;
  min-width: 200px;
  min-height: 200px;
}

@media screen and (width <= 768px) {
  .appartement {
    flex-basis: 100%;
  }
}

.appartement__info {
  width: 30%;
  margin-inline-start: 5%;
  margin-block-end: 5%;
  color: white;
}
