/* .banner__all {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 223px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner__all h1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  z-index: 1;
}

.banner__home {
  position: relative;
  background-image: url("../images/BannerHome.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 5%;
}

.banner__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.234);
  border-radius: 25px;
}

.banner__about {
  margin-inline: 100px;
  background: url("../images/BannerAbout.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

@media (max-width: 1075px) {
  .banner__all h1 {
    font-size: 36px;
  }
  .banner_home,
  .banner__about {
    margin-top: 0px;
    height: 111px;
    background-position: left;
  }
  .banner__about,
  .banner_home,
  .banner__all {
    border-radius: 25px;
  }
} */

/* .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  max-width: 1248px;
  height: 250px;
  border-radius: 25px;
  font-size: 25px;
  margin-bottom: 5%;
}

.banner .bannerImg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 48px;
  z-index: 3;
  font-weight: 500;
} */

.banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 5%;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.content h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 10px;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.263);
}
.about__banner {
  height: 20px;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .home__banner {
    min-width: 310px;
    height: 125px;
    border-radius: 10px;
  }

  .content h3 {
    text-align: left;
    font-size: 25px;
    padding-left: 10px;
    width: 75%;
  }

  .about__banner {
    height: 20px;
  }
}
