.banner__all {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 223px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner__all h1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  z-index: 1;
}

.banner__home {
  position: relative;
  background-image: url("../images/BannerHome.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: 5%;
}

.banner__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.234);
  border-radius: 25px;
}

.banner__about {
  margin-inline: 100px;
  background: url("../images/BannerAbout.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

@media (max-width: 1075px) {
  .banner__all h1 {
    font-size: 36px;
  }
  .banner_home,
  .banner__about {
    margin-top: 0px;
    height: 111px;
    background-position: left;
  }
  .banner__about,
  .banner_home,
  .banner__all {
    border-radius: 25px;
  }
}
